.Items{
    display:flex;
    flex-wrap: wrap;
    
    flex-direction: row;
    justify-content: space-around;

    --items-wrap: wrap;
    --items-gap: 25px;
    --items-first-gap: var(--items-gap);
    
    flex-wrap: var(--items-wrap);
    margin-left: calc(var(--items-first-gap) * -1);
}


.Items > div:nth-child(2n+1) div:first-child{
    clip-path: polygon(3% 7%, 97% 4%, 100% 97%, 0% 96%) !important;
}

.Items > div:nth-child(2n) div:first-child{
    clip-path: polygon(0 0, 100% 6%, 100% 96%, 0 100%) !important;
}


.Items > div:nth-child(2n+1):hover div:first-child{
    transition-delay: 0.5s ease; /* delays for 1 second */
    -webkit-transition-delay: 0.5s ease; /* for Safari & Chrome */
    box-shadow: 0 10px 20px rgba(0,0,0,.8) !important; /* shadow in the x direction, shadow in the y direction, blur*/
    clip-path: polygon(0 4%, 100% 6%, 97% 100%, 6% 97%) !important;
}


.Items > div:nth-child(2n+2):hover div:first-child {
    transition-delay: 0.5s ease; /* delays for 1 second */
    -webkit-transition-delay: 0.5s ease; /* for Safari & Chrome */
    box-shadow: 0 10px 20px rgba(0,0,0,.8) !important; /* shadow in the x direction, shadow in the y direction, blur*/
    clip-path: polygon(8% 4%, 90% 6%, 99% 99%, 0 100%) !important;
}

/* .Items > div:hover a div:nth-child(2) button{
    background: rgb(8, 4, 4);
} */
